# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# img
*.jpg
*.png
img/

# video
*.mp4

# packages

*test.html
*test2.html
*test3.html
*test4.html
*test5.html

# log
*.log

passaword.txt
